@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    /* Ruta relativa o absoluta de tu archivo .ttf */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #181818;
}

#simulator {
    width: 100%;
    max-width: 1300px;
    padding: 50px 60px;
    margin: 100px auto;
    box-shadow: 0 0 3em #000000;
    background: #181818;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    color: #b80000;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #000000;
}

.cont-flex {
    width: 100%;
    display: flex;
}

.left,
.right {
    width: 50%;
    padding: 40px 20px;
}

h2 {
    color: #b80000;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 14px;
}

.left p {
    margin-bottom: 30px;
    color: #ffffff;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-data.two-columns {
    width: 50%;
    box-sizing: border-box;
}

.group-data.one-column {
    width: 100%;
}

.group-data.three-columns {
    width: 60%;
}

.group-data.four-columns {
    width: 40%;
}

.group-data {
    padding-right: 16px;
}

.group-data label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.group-data input,
.group-data select {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    color: #ffffff;
    background-color: #181818;

    border-radius: 8px;
    box-shadow: 0 0 3em #000000;

}

form button {
    display: block;
    width: 97%;
    padding: 14px 80px;
    background: #b80000;
    color: #fff;
    border: 1px solid #b80000;
    transition: .4s;
    cursor: pointer;
}

form button:hover {
    background: #181818;
    color: #000000;
}

input,
select {
    padding: 14px 30px;
    background: #181818;
    border: 0;
    outline: none;
}

input::placeholder {
    color: #ffffff;
    /* Cambia este valor al color que desees */
}

.right .pre-simulation {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 80%;
}

.right .post-simulation {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 60px;
}

.post-simulation.disabled,
.pre-simulation.disabled {
    display: none;
}

.right .post-simulation h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}

.right .post-simulation h3 span {
    color: #b80000;
    font-weight: 600;
    font-size: 24px;
}

.right .total {
    background: #181818;
    padding: 30px;
}

.right .total h4 {
    font-size: 28px;
    color: #ffffff;
}

.right .total h2 {
    font-size: 36px;
    padding: 14px 0;
}

.total p {
    font-weight: 400;
    color: #ffffff;
}

.total p span {
    font-weight: 600;
    color: #ffffff;
}

.notificacion {
    padding: 20px;
    margin-top: 40px;
}

.notificacion h5 {
    font-weight: 400;
    color: #ffffff;
}

.notificacion h5 span {
    font-weight: 700;
    color: #ffffff;
}